# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

sum_sqrt_value = 0

for sqrt_value in generator:
    print(sqrt_value)
    sum_sqrt_value += sqrt_value

print(sum_sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989
32.854555867161245

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [3]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

data = list(people_1())

sum_of_ages = sum(person["Age"] for person in data)
print(len(data))
print(sum_of_ages)

# for person in people_1():
#     print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

data.extend(people_2())
print(len(data))



sum_of_ages = sum(person["Age"] for person in data)

print(sum_of_ages)

# for person in people_2():
#     print(person)

5
140
11
353

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [4]:
#Install the dependencies
# %%capture
%pip install dlt[duckdb]
%pip install streamlit

Requirement already satisfied: dlt[duckdb] in c:\users\amrna\miniconda3\lib\site-packages (0.4.3)
Requirement already satisfied: PyYAML>=5.4.1 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (6.0)
Requirement already satisfied: SQLAlchemy>=1.4.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (2.0.25)
Requirement already satisfied: astunparse>=1.6.3 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: click>=7.1 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (8.1.7)
Requirement already satisfied: duckdb<0.10.0,>=0.6.1 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (0.9.2)
Requirement already satisfied: fsspec>=2022.4.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (2024.2.0)
Requirement already satisfied: gitpython>=3.1.29 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (3.1.41)
Requirement already satisfied: giturlparse>=0.10.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (0.12.0)
Requirement already satisfied: hexbytes>=0.2.2 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (1.0.0)
Requirement already satisfied: humanize>=4.4.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (4.9.0)
Requirement already satisfied: jsonpath-ng>=1.5.3 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (1.6.1)
Requirement already satisfied: makefun>=1.15.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (1.15.2)
Requirement already satisfied: orjson>=3.6.7 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (3.9.13)
Requirement already satisfied: packaging>=21.1 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (23.0)
Requirement already satisfied: pathvalidate>=2.5.2 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (3.2.0)
Requirement already satisfied: pendulum>=2.1.2 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (3.0.0)
Requirement already satisfied: pytz>=2022.6 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (2023.3.post1)
Requirement already satisfied: requests>=2.26.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (2.31.0)
Requirement already satisfied: requirements-parser>=0.5.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (0.5.0)
Requirement already satisfied: semver>=2.13.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (3.0.2)
Requirement already satisfied: setuptools>=65.6.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (67.8.0)
Requirement already satisfied: simplejson>=3.17.5 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (3.19.2)
Requirement already satisfied: tenacity>=8.0.2 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (8.2.3)
Requirement already satisfied: tomlkit>=0.11.3 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (0.12.3)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (4.7.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (2023.3)
Requirement already satisfied: win-precise-time>=1.4.2 in c:\users\amrna\miniconda3\lib\site-packages (from dlt[duckdb]) (1.4.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\amrna\miniconda3\lib\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.38.4)
Requirement already satisfied: six<2.0,>=1.6.1 in c:\users\amrna\miniconda3\lib\site-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.16.0)
Requirement already satisfied: colorama in c:\users\amrna\miniconda3\lib\site-packages (from click>=7.1->dlt[duckdb]) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\amrna\miniconda3\lib\site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.11)
Requirement already satisfied: ply in c:\users\amrna\miniconda3\lib\site-packages (from jsonpath-ng>=1.5.3->dlt[duckdb]) (3.11)
Requirement already satisfied: python-dateutil>=2.6 in c:\users\amrna\miniconda3\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Requirement already satisfied: time-machine>=2.6.0 in c:\users\amrna\miniconda3\lib\site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.13.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\amrna\miniconda3\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amrna\miniconda3\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\amrna\miniconda3\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\amrna\miniconda3\lib\site-packages (from requests>=2.26.0->dlt[duckdb]) (2023.11.17)
Requirement already satisfied: types-setuptools>=57.0.0 in c:\users\amrna\miniconda3\lib\site-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (69.0.0.20240125)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\amrna\miniconda3\lib\site-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\amrna\miniconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.1)
Requirement already satisfied: streamlit in c:\users\amrna\miniconda3\lib\site-packages (1.31.0)
Requirement already satisfied: altair<6,>=4.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (5.2.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (1.7.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (5.3.2)
Requirement already satisfied: click<9,>=7.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: importlib-metadata<8,>=1.4 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (7.0.1)
Requirement already satisfied: numpy<2,>=1.19.3 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (1.26.0)
Requirement already satisfied: packaging<24,>=16.8 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (23.0)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (2.1.1)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (10.2.0)
Requirement already satisfied: protobuf<5,>=3.20 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (4.25.2)
Requirement already satisfied: pyarrow>=7.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (15.0.0)
Requirement already satisfied: python-dateutil<3,>=2.7.3 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (2.8.2)
Requirement already satisfied: requests<3,>=2.27 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (2.31.0)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (13.7.0)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (4.7.1)
Requirement already satisfied: tzlocal<6,>=1.1 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (5.2)
Requirement already satisfied: validators<1,>=0.2 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (0.22.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (3.1.41)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (6.3.3)
Requirement already satisfied: watchdog>=2.1.5 in c:\users\amrna\miniconda3\lib\site-packages (from streamlit) (4.0.0)
Requirement already satisfied: jinja2 in c:\users\amrna\miniconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\amrna\miniconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: toolz in c:\users\amrna\miniconda3\lib\site-packages (from altair<6,>=4.0->streamlit) (0.12.0)
Requirement already satisfied: colorama in c:\users\amrna\miniconda3\lib\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\amrna\miniconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.11)
Requirement already satisfied: zipp>=0.5 in c:\users\amrna\miniconda3\lib\site-packages (from importlib-metadata<8,>=1.4->streamlit) (3.17.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amrna\miniconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\amrna\miniconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\amrna\miniconda3\lib\site-packages (from python-dateutil<3,>=2.7.3->streamlit) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\amrna\miniconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amrna\miniconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\amrna\miniconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\amrna\miniconda3\lib\site-packages (from requests<3,>=2.27->streamlit) (2023.11.17)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\amrna\miniconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\amrna\miniconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\amrna\miniconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\amrna\miniconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\users\amrna\miniconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\amrna\miniconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.18.0)
Requirement already satisfied: mdurl~=0.1 in c:\users\amrna\miniconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.0)

In [5]:
# to do: homework :)
import dlt

pipeline = dlt.pipeline(pipeline_name="people_data", destination='duckdb', dataset_name='personal_data')

info = pipeline.run(people_1, table_name='persons', primary_key='id', write_disposition='replace')


# print(info)

In [6]:
pipeline = dlt.pipeline(pipeline_name="people_data", destination='duckdb', dataset_name='personal_data')
pipeline.run(people_2, table_name="persons",
					write_disposition="merge",
					primary_key="id")

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x00000220781C2CD0>, metrics={'1707415178.866187': [{'started_at': DateTime(2024, 2, 8, 17, 59, 39, 328429, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 8, 17, 59, 39, 868032, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:///c:\\Users\\amrna\\OneDrive\\Desktop\\people_data.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='personal_data', loads_ids=['1707415178.866187'], load_packages=[LoadPackageInfo(load_id='1707415178.866187', package_path='C:\\Users\\amrna\\.dlt\\pipelines\\people_data\\load\\loaded\\1707415178.866187', state='loaded', schema=Schema people_data at 2338507450704, schema_update={}, completed_at=DateTime(2024, 2, 8, 17, 59, 39, 843620, tzinfo=Timezone('UTC')), jobs={'new_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\amrna\\.dlt\\pipelines\\people_data\\load\\loaded\\1707415178.866187\\completed_jobs\\persons.300a7256ac.0.sql', file_size=694, created_at=DateTime(2024, 2, 8, 17, 59, 39, 433304, tzinfo=Timezone('UTC')), elapsed=0.41031599044799805, job_file_info=ParsedLoadJobFileName(table_name='persons', file_id='300a7256ac', retry_count=0, file_format='sql'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='C:\\Users\\amrna\\.dlt\\pipelines\\people_data\\load\\loaded\\1707415178.866187\\completed_jobs\\persons.50753e9449.0.insert_values', file_size=331, created_at=DateTime(2024, 2, 8, 17, 59, 38, 964740, tzinfo=Timezone('UTC')), elapsed=0.8788797855377197, job_file_info=ParsedLoadJobFileName(table_name='persons', file_id='50753e9449', retry_count=0, file_format='insert_values'), failed_message=None)], 'failed_jobs': [], 'started_jobs': []})], first_run=False)

In [9]:
import duckdb

# setup connection to pipeline
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# duckdb to display tables
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n persons table below:")

persons = conn.sql("SELECT * FROM persons").df()
display(persons)

print("\n\n\n stream_download table below:")

total_age = conn.sql("SELECT SUM(age) FROM persons").df()
display(total_age)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ persons             │
└─────────────────────┘

 persons table below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707415175.3786669  ylQ1Gb4q65hjnQ       None
1   2  Person_2   27  City_A  1707415175.3786669  3g7xP0BnOg5U3A       None
2   5  Person_5   35  City_B   1707415178.866187  0qndJpnw4LJzjw      Job_5
3   7  Person_7   37  City_B   1707415178.866187  TfOZJDYBWfubMQ      Job_7
4   4  Person_4   34  City_B   1707415178.866187  DWMccHgnKGZJlQ      Job_4
5   8  Person_8   38  City_B   1707415178.866187  SW+Jk9+ONDsjmQ      Job_8
6   3  Person_3   33  City_B   1707415178.866187  tGbx17v+RbzwEg      Job_3
7   6  Person_6   36  City_B   1707415178.866187  LqZz1Co/BBuhpQ      Job_6

 stream_download table below:

   sum(age)
0     266.0